@reference {
  article {
    width: 100%;
  }
  
  @media (min-width: 900px) {
    article {
      width: 75%;
    }
  }
}

@media (min-width: 900px) {
  article {
    display: block;
    @references article;
  }
}