@reference {
  h1 {
    display: block;
    font-size: 2.2em;
    font-weight: bold;
  }
  
  .pure-u-1-2,
  .pure-u-12-24 {
    width: 50%;
    *width: 49.9690%;
  }
}

.document-title {
  @references h1, .pure-u-1-2;
  text-align: center;
}